// About Header
.about-header {
    background-color: $text-white;
    color: $text-primary;
    .row {
        padding: 6rem 0;
    }
    .header-logo {
        position: relative;
        width: 350px;
        max-width: 100%;
        bottom: 30px;
    }
    .header-title {
        font-family: $font-lato;
        line-height: 2.5rem;
    }
    .header-desc {
        font-family: $font-montserrat;
        font-size: medium;
    }
    .one-piece {
        bottom: 30px;
        position: relative;
    }
    .signature {
        position: relative;
        width: 150px;
        height: 62px;
    }
}
// End of Main Header

// Top Wrappers
#top-wrappers {
    background: url(../img/imagestaffs.png);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    .container {
        padding: 200px 0px 100px 0;
    }
    .top-wrapper-title {
        display: flexbox;
        font-family: $font-lato;
        font-size: 5.25rem;
        font-weight: 700;
        color: $text-white;
        justify-content: center;
        margin-bottom: 20px;
    }
}
// End of Top Wrappers

// Tagline
#tagline {
    background: url(../img/bg-member.jpg);
    background-size: cover;
    background-position: center;
    color: $text-black;
    padding: 6rem 0;
    .tagline-title {
        font-family: $font-lato;
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}
// End of Tagline

// Team Wrappers
#team-wrap {
    background: $text-primary;
    background-size: cover;
    background-position: center;
    position: relative;
    .container {
        min-height: 205px;
    }
    .top-wrapper-title {
        font-family: $font-lato;
        font-size: 5.25rem;
        font-weight: 700;
        color: $text-white;
        left: 191px;
    }
    .header-desc {
        color: $text-white;
        position: relative;
        top: 0px;
    }
    .row {
        display: flex;
        justify-content: center;
    }
    .tw-line {
        width: 695px;
        max-width: 100%;
        height: 3px;
        background-color: $text-white;
    }
}
// End of Top Wrappers

// Organigram
#organigram {
    background: $text-primary;
    margin-top: -1px;
    // overflow-x: scroll;
    .timorg {
        display: flexbox;
        font-family: $font-lato;
        font-size: 5.25rem;
        font-weight: 700;
        color: $text-white;
        padding-bottom: 30px;
    }
    .org-img {
        overflow-x: auto;
    }
}
// End of Organigram

//Achievements
#achievements {
    background-color: $text-primary;
    margin-top: -1px;
    .header {
        background: linear-gradient(
            271.42deg,
            $text-primary 0%,
            rgba(255, 255, 255, 0.5) 96.95%
        );
        min-height: 114px;
        min-width: 600px;
        max-width: 48vw;
        padding-right: 3.5rem;
    }
    .header-title-achievement {
        color: white;
        font-family: Lato;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0em;
    }

    .row-achievement {
        justify-content: space-around;
    }
    .box {
        //background-image: url(../img/achievement.png);
        background-color: rgba(31, 40, 90, 1);
        min-height: 263px;
        max-width: 535px;
        left: 90px;
        top: 4307px;
        border-radius: 20px;
        margin: 25px 1rem;
        box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .box-inform {
        background-color: $text-primary;
        height: 263px;
        width: 535px;
        left: 90px;
        top: 4307px;
        border-radius: 20px;
        margin-top: 25px;
    }
    .title {
        color: rgba(255, 255, 255, 1);
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        padding: 20px;
    }
    .desc {
        color: rgba(255, 255, 255, 1);
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: justify;
        padding: 0px 20px;
    }
}
//End of Achievements

//Information
.information {
    color: white;
    margin: 10rem 0;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    a {
        color: white;
        margin: 10rem 0;
        text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
}

// Footer
footer {
    .row {
        padding: 6rem 0;
    }
    .footer-logo {
        width: 350px;
        max-width: 100%;
    }
    .footer-title {
        font-family: $font-lato;
    }
    .footer-desc {
        font-family: $font-montserrat;
    }
}
// End of Footer

//Responsive
@media screen and (max-width: 768px) {
    #tagline {
        .tagline-title {
            font-size: 2rem;
        }
    }
    #top-wrappers {
        .top-wrapper-title {
            font-size: 3rem;
            line-height: 36px;
        }
    }
    #team-wrap {
        .container {
            justify-content: center;
            top: 50%; /* IMPORTANT */
            left: 20%; /* IMPORTANT */
            display: block;
            position: relative;
        }
        .header-desc {
            line-height: 36px;
            font-size: 100%;
            width: 50%;
        }
        .tw-line {
            width: auto;
            max-width: 60%;
            display: block;
        }
    }
    #organigram {
        .timorg {
            font-size: 4rem;
            display: block;
        }
    }
    #achievements {
        .header {
            min-width: 100%;
        }
        .header-title-achievement {
            font-size: 36px;
        }
    }
}
@media screen and (max-width: 576px) {
    .about-header {
        .row {
            padding: 2rem 0;
        }
        .header-logo {
            width: 60%;
            margin: 20px;
        }
        .one-piece {
            margin-top: 20px;
            position: center;
            margin-bottom: -20px;
        }
    }
    #achievements {
        .header {
            min-width: 100%;
            min-height: 60px;
        }
        .header-title-achievement {
            font-size: 30px;
        }
    }
    footer {
        .footer-logo {
            width: 80%;
        }
    }
}
