// About Header
.about-header {
    background-color: $text-white;
    color: $text-primary;
    .row {
        padding: 6rem 0;
    }
    .header-logo {
        position: relative;
        width: 350px;
        max-width: 100%;
        bottom: 30px;
    }
    .header-title {
        font-family: $font-lato;
        line-height: 2.5rem;
    }
    .header-desc {
        font-family: $font-montserrat;
        font-size: medium;
    }
    .one-piece {
        bottom: 30px;
        position: relative;
    }
    .signature {
        position: relative;
        width: 150px;
        height: 62px;
    }
}
// End of Main Header

// Top Wrappers
#top-wrappers {
    background: url(../img/imagestaffs.png);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    .container {
        padding: 200px 0px 100px 0;
    }
    .top-wrapper-title {
        display: flexbox;
        font-family: $font-lato;
        font-size: 5.25rem;
        font-weight: 700;
        color: $text-white;
        justify-content: center;
        margin-bottom: 20px;
    }
}
// End of Top Wrappers

// Tagline
#tagline {
    background: url(../img/bg-member.jpg);
    background-size: cover;
    background-position: center;
    color: $text-black;
    padding: 6rem 0;
    .tagline-title {
        font-family: $font-lato;
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}
// End of Tagline

// Team Wrappers
#team-wrap {
    background: #0a1931;
    background-size: cover;
    background-position: center;
    position: relative;
    .container {
        min-height: 205px;
    }
    .top-wrapper-title {
        font-family: $font-lato;
        font-size: 5.25rem;
        font-weight: 700;
        color: $text-white;
        left: 191px;
    }
    .header-desc {
        color: $text-white;
        position: relative;
        top: 0px;
    }
    .row {
        display: flex;
        justify-content: center;
    }
    .tw-line {
        width: 695px;
        height: 3px;
        background-color: $text-white;
    }
}
// End of Top Wrappers

// Organigram
#organigram {
    background: #0a1931;
    // overflow-x: scroll;
    .timorg {
        display: flexbox;
        font-family: $font-lato;
        font-size: 5.25rem;
        font-weight: 700;
        color: $text-white;
        padding-bottom: 30px;
    }
    .org-img {
        overflow-x: scroll;
    }
}
// End of Organigram

//Achievements
#achievements {
    background-size: cover;
    background-position: center;
    .achievements-title {
        display: flexbox;
        font-family: $font-lato;
        font-size: 5.25rem;
        font-weight: 700;
        color: $text-primary;
        padding-bottom: 30px;
        padding-top: 30px;
        text-align: center;
    }

    /*.left-box {
        position: relative;
    }
    .left-box p {
        position: absolute;
        top: 44%;
        width: 100%;
        color: $text-white;
    }
    */
    .box-left {
        background-color: #111840;
        height: 143px;
        width: 573px;
        padding: 10px;
        border-radius: 15px 0px 0px 15px;
        //clip-path: polygon(526px 0, 573px 71.5px, 526px 143px, 0 143px, 0 0);
    }
    .box-right {
        background-color: #111840;
        height: 143px;
        width: 573px;
        padding: 10px;
        border-radius: 0px 15px 15px 0px;
    }
    .box-title-left {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
    }
    .box-title-right {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
    }
    .box-desc-left {
        color: white;
        font-family: Lato;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: justified;
    }
    .box-desc-right {
        color: white;
        font-family: Lato;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: justified;
    }
    .box-line-left {
        width: 436px;
        height: 3px;
        background-color: $text-white;
    }
    .box-line-right {
        width: 436px;
        height: 3px;
        background-color: $text-white;
    }
    .right {
        justify-content: right;
        text-align: right;
    }
    .left {
        justify-content: left;
        text-align: left;
    }
    .text-info {
        margin-top: 5rem;
        font-family: Lato;
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        background: rgba(17, 24, 64, 1);
    }
}
//End of Achievements

//Information
.information {
    margin: 10rem 0;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

// Footer
footer {
    .row {
        padding: 6rem 0;
    }
    .footer-logo {
        width: 350px;
        max-width: 100%;
    }
    .footer-title {
        font-family: $font-lato;
    }
    .footer-desc {
        font-family: $font-montserrat;
    }
}
// End of Footer

@media screen and (max-width: 768px) {
    #tagline {
        .tagline-title {
            font-size: 2rem;
        }
    }
    #top-wrappers {
        .top-wrapper-title {
            font-size: 3rem;
            line-height: 36px;
        }
    }
    #team-wrap {
        .container {
            justify-content: center;
            top: 50%; /* IMPORTANT */
            left: 20%; /* IMPORTANT */
            display: block;
            position: relative;
        }
        .header-desc {
            line-height: 36px;
            font-size: 100%;
            width: 50%;
        }
        .tw-line {
            width: 300px;
        }
    }
}
@media screen and (max-width: 576px) {
    .about-header {
        .row {
            padding: 2rem 0;
        }
        .header-logo {
            width: 80%;
        }
        .one-piece {
            margin-top: 20px;
            position: center;
        }
    }
    footer {
        .footer-logo {
            width: 80%;
        }
    }
}
