#detailArticle {
    .article {
        &-title {
            font-family: $font-lato;
            position: relative;
            font-weight: 800;
            font-size: 2.75rem;
            line-height: 3rem;
            letter-spacing: 0.03em;
            color: $text-black;
            width: fit-content;
            .fas {
                position: absolute;
                font-size: 1.25rem;
                top: 0;
                right: -2rem;
            }
        }
        &-author {
            font-family: $font-lato;
            font-weight: bold;
            color: $text-primary;
        }
        &-released {
            position: relative;
            padding-left: 1.5rem;
            font-family: $font-lato;
            color: $text-black;
        }
        &-released::before {
            content: ".";
            position: absolute;
            top: -120%;
            left: 5%;
            font-weight: bolder;
            font-size: 2rem;
        }
        &-image {
            width: 800px;
            max-width: 100%;
        }
        &-button {
            font-family: $font-lato;
            padding: 0.375rem 0.75rem;
            color: $text-black;
        }
    }
}
