/*css petroknowledge */

.petroknowledge {
    //margin-left: 290px;
    //margin-right: 290px;
    .title {
        margin-top: 60px;
        font-family: Lato;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 0.03em;
        color: #000000;
    }
    .body {
        margin-top: 48px;
        text-align: justify;
    }
    .name-user {
        margin-left: -25px;
        font-family: Lato;
        font-size: 16px;
        line-height: 19px;
        color: #111840;
    }
    .detail-article {
        margin-top: 14px;
        margin-bottom: 34px;
    }
    .image-article {
        max-width: 850px;
        height: 587px;
    }
}

@media (max-width: 768px) {
    .petroknowledge {
        margin-top: 0px;
        .title {
            font-size: 2em;
        }
        .name-user {
            margin-top: 5px;
            margin-left: 0;
        }
        .image-article {
            width: 100%;
            height: auto;
        }
    }
}
