// Navbar
.navbar {
    .navbar-nav {
        .nav-link {
            margin: auto 1rem;
            font-family: $font-lato;
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            text-transform: uppercase;
            color: $text-primary;
        }
    }
    .navbar-toggler-icon {
        color: $text-primary;
        font-size: 1.5rem;
    }
}
// End of Navbar

// Main Header
.main-header {
    background-color: $text-primary;
    color: $text-white;
    .row {
        padding: 6rem 0;
    }
    .header-logo {
        width: 350px;
        max-width: 100%;
    }
    .header-title {
        font-family: $font-lato;
        line-height: 2.5rem;
    }
    .header-desc {
        font-family: $font-montserrat;
    }
}
// End of Main Header

// Upcoming Events
#upcoming-events {
    padding: 4rem 0;
    color: $text-primary;
    .container {
        max-width: 1140px;
    }
    .upcoming-events-title {
        font-family: $font-lato;
        font-size: 4.5rem;
        width: 350px;
        max-width: 100%;
    }
    .upcoming-events-desc {
        font-family: $font-montserrat;
        font-size: 1.25rem;
        width: 350px;
        max-width: 100%;
        text-align: justify;
    }
    .events {
        width: 250px;
        max-width: 100%;
        height: 170px;
        border: 1px solid $text-primary;
        border-radius: 1.5rem;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        &-img {
            width: 100%;
        }
        &-content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0.5rem 1rem;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.37) -45.35%,
                #ffffff 100%
            );
            .events-date {
                font-family: $font-lato;
                font-size: 0.9rem;
            }
            .events-name {
                font-family: $font-lato;
                font-weight: bold;
                font-size: 1.25rem;
                line-height: 1.6rem;
            }
        }
        &:hover {
            .events-content {
                background: $text-primary;
                .events-date {
                    color: $text-white;
                }
                .events-name {
                    color: $text-white;
                }
            }
        }
    }
    .upcoming-events-button {
        @include button-blue-rounded();
        padding: 0.8rem 1.75rem;
        font-size: 1.25rem;
    }
}
// End of Upcoming Events

// Blogs
#main-blogs {
    .container {
        max-width: 1140px;
    }
    .blogs-header {
        font-family: $font-lato;
        font-size: 3.5rem;
        color: $text-primary;
    }
    .blogs-summary {
        width: 250px;
        max-width: 100%;
        height: 150px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        .blogs-pict {
            width: 100%;
            height: 100%;
            padding: 0.5rem;
        }
    }
}
// End of Blogs

// Become a Member
#main-members {
    background: url(../img/bg-member.jpg);
    background-size: cover;
    background-position: center;
    color: $text-black;
    padding: 6rem 0;
    .members-title {
        font-family: $font-lato;
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    .members-desc {
        font-weight: 600;
    }
    .members-register {
        @include button-blue-rounded();
        padding: 0.8rem 1.75rem;
        font-size: 1.25rem;
    }
}
// End of Become a Member

// Our Members
#our-members {
    background: url(../img/member-photos.jpg);
    background-size: cover;
    background-position: center;
    .container {
        min-height: 525px;
    }
    .our-members-title {
        font-family: $font-lato;
        font-size: 5.25rem;
        font-weight: 700;
        color: $text-white;
    }
    .our-members-logo {
        position: absolute;
        top: 36px;
        right: 0;
        width: 90px;
    }
}
// End of Our Members

// Testimonials
#testimonials {
    color: $text-primary;
    .testimonials-title {
        padding: 4.25rem 0 0;
        font-family: $font-lato;
        font-size: 4.25rem;
        font-weight: bold;
    }
    @mixin testimonials-section($background) {
        margin: 2rem 0.75rem;
        padding: 0.75rem 2.25rem;
        width: fit-content;
        font-family: $font-lato;
        background: $background;
        font-weight: bold;
        font-size: 2rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.75rem;
    }
    @mixin testimonials-content($background) {
        padding: 4rem 2.5rem;
        background: $background;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        min-height: 450px;
        position: relative;
        @media screen and (max-width: 768px) {
            min-height: fit-content;
        }
        @media screen and (max-width: 1200px) {
            min-height: 620px;
        }
        @media screen and (max-width: 1400px) {
            min-height: 520px;
        }
    }
    .member-section {
        padding: 3rem 0;
        .testimonials-section {
            @include testimonials-section($text-gray);
        }
        .testimonials-content {
            @include testimonials-content($text-gray);
        }
    }
    .boc-section {
        background-color: #dcdcdc;
        padding: 2rem 0;
        .testimonials-section {
            @include testimonials-section($text-white);
        }
        .testimonials-content {
            @include testimonials-content($text-white);
        }
    }
    .testimonials-said {
        text-align: justify;
        font-style: italic;
    }
    .testimonials-quotes {
        position: absolute;
        &:nth-of-type(1) {
            top: 17px;
            left: 17px;
        }
        &:nth-of-type(2) {
            bottom: 17px;
            right: 17px;
        }
    }
    .testimonials-hashtag {
        font-family: $font-lato;
        font-weight: 500;
        font-size: 2.5rem;
    }
}
// End of Testimonials

// Members in Competitions
#main-competitions {
    padding: 4rem 0;
    background-color: #f2e7dc;
    color: $text-primary;
    position: relative;
    z-index: 2;
    .competitions {
        &-title {
            font-family: $font-lato;
            font-weight: bold;
            font-size: 4.25rem;
            line-height: 5rem;
            margin-bottom: 2.5rem;
        }
        &-button {
            padding: 1rem 3rem;
            background: $text-white;
            box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
            border-radius: 4rem;
            font-family: $font-lato;
            font-weight: 600;
            font-size: 1.25rem;
            color: $text-primary;
            text-transform: uppercase;
        }
        &-pict {
            width: 300px;
            max-width: 100%;
            border-radius: 1.5rem;
            box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
        }
    }
    .competitions-icon {
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        width: 325px;
        max-width: 100%;
    }
}
// End of Members in Competitions

// Leaderboard
#main-leaderboard {
    background-color: #f2e7dc;
    padding: 2.25rem 0;
    min-height: 100vh;
    color: $text-white;
    position: relative;
    overflow: hidden;
    .leaderboard-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 700px;
        max-width: 100%;
    }
    .leaderboard {
        position: relative;
        z-index: 1;
        &-title {
            padding: 2.5rem 3.5rem;
            font-family: $font-lato;
            font-style: italic;
            font-weight: bold;
            font-size: 3.25rem;
            text-transform: uppercase;
            background-color: $text-primary;
            border-radius: 5rem 0 0 5rem;
        }
        &-content {
            list-style: none;
        }
        &-list {
            margin: 1.25rem;
            padding: 1rem 3.25rem;
            background-color: $text-primary;
            border-radius: 3rem;
            box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.4);
            max-width: 800px;
            span,
            p {
                font-size: 1.5rem;
            }
            &:first-of-type {
                span,
                p {
                    font-size: 2rem;
                }
            }
        }
    }
}
// End of Leaderboard

// Scroll to Top
#scroll-to-top {
    position: fixed;
    z-index: 2;
    opacity: 0;
    bottom: 20px;
    right: 30px;
    animation-name: scrollToTop;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    .scroll-button {
        background-size: 300% 100%;
        background-color: $text-primary;
        padding: 10px 13px;
        border-radius: 50px;
        box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.25);
        color: $text-white;
        transition: all 0.4s ease-in-out;
        &:hover {
            box-shadow: 0 0px 15px #0101013f;
            transform: translateY(-10px);
            background-position: 100% 0;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
        }
    }
}

@keyframes scrollToTop {
    0% {
        bottom: -20px;
        opacity: 0;
    }
    50% {
        bottom: 40px;
    }
    100% {
        opacity: 1;
        bottom: 20px;
    }
}
// End of Scroll to Top

// Footer
footer {
    .row {
        padding: 6rem 0;
    }
    .footer-logo {
        width: 350px;
        max-width: 100%;
    }
    .footer-title {
        font-family: $font-lato;
    }
    .footer-desc {
        font-family: $font-montserrat;
    }
}
// End of Footer

@media screen and (max-width: 768px) {
    #main-members {
        .members-title {
            font-size: 2rem;
        }
    }
    #our-members {
        .our-members-title {
            font-size: 3rem;
        }
    }
    #testimonials {
        .testimonials-title {
            font-size: 2.5rem;
        }
    }
}
@media screen and (max-width: 576px) {
    .main-header {
        .row {
            padding: 2rem 0;
        }
        .header-logo {
            width: 80%;
        }
    }
    #upcoming-events {
        padding: 2.5rem 0;
        .upcoming-events-title {
            font-family: $font-lato;
            font-size: 3.5rem;
            width: fit-content;
            max-width: 100%;
        }
    }
    #main-blogs {
        .blogs-header {
            font-size: 2.5rem;
            width: 350px;
            max-width: 100%;
        }
    }
    #main-competitions {
        .competitions-title {
            font-size: 2.25rem;
            line-height: 3rem;
        }
    }
    #main-leaderboard {
        .leaderboard {
            &-title {
                padding: 1.5rem 0 1.5rem 2.25rem;
                font-size: 2rem;
            }
            &-list {
                margin: 0.5rem;
                padding: 1rem 1.75rem;
                span,
                p {
                    font-size: 1rem;
                }
                &:first-of-type {
                    span,
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    footer {
        .footer-logo {
            width: 80%;
        }
    }
}
