/*Section Member Team*/
#members-team {
    overflow: hidden;
    .container {
        margin-top: 66px;
        padding-bottom: 93px;
        background-color: rgba(10, 25, 49, 1);
        border-radius: 40px;
        .favorite-team {
            h1 {
                color: white;
                font-family: Lato;
                font-style: italic;
                font-weight: 800;
                font-size: 48px;
                line-height: 58px;
                padding-top: 75px;
            }
            img {
                max-width: 100%;
                height: auto;
                margin-top: 49px;
                text-align: center;
            }
            h2 {
                margin-top: 10px;
                font-family: Lato;
                font-weight: 800;
                font-size: 36px;
                line-height: 43px;
                color: #ffffff;
            }
            p {
                font-family: Lato;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                color: #ffffff;
            }
        }
        .gl-team {
            text-align: center;
            h1 {
                color: white;
                font-family: Lato;
                font-style: italic;
                font-weight: 800;
                font-size: 48px;
                line-height: 58px;
                padding-top: 75px;
            }
            h2 {
                margin-top: 10px;
                font-family: Lato;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #ffffff;
            }
        }
    }
}

/*Section Members Leaderboard*/
#members-leaderboard {
    .container {
        height: 45px;
        position: relative;
        background: #0a1931;
        border-radius: 0px 0px 0px 32.5px;
        top:20px;
        .teks {
            color: white;
            font-family: Lato;
            font-style: bold;
            font-weight: bold;
            text-align: right;
            top: 10px;
            font-size: 25px;
            margin-bottom: 50px;
            padding-right: 12px;
        }
        .gambar {
            position: absolute;
            top: 0;
            z-index: -1;
            right: 0px;
        } 
        .leaderboard{
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 7px 7px 7px 7px;
            border: solid;
            color: #ffffff;
            background: #0A1931;
            margin-left: auto;
        }
        .leaderboard1{
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 7px 7px 7px 7px;
            border: solid;
            color: #ffffff;
            background: #FFC947;
            margin-left: auto;
        }
        .leaderboard2{
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 7px 7px 7px 7px;
            border: solid;
            color: #ffffff;
            background: #D3D5D6;
            margin-left: auto;
        }  
        .leaderboard3{
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 7px 7px 7px 7px;
            border: solid;
            color: #ffffff;
            background: #F48B29;
            margin-left: auto;
        } 
        .name{
            font-family: Lato;
            font-style: bold;
            border-style: solid;
            width: 750px;
            height: 40px;
            border-color: #0A1931;
            border-radius: 7px 7px 7px 7px;
            padding-left: 10px;
            padding-top: 2px;
        }
        .point{
            font-family: Lato;
            font-style: bold;
            padding-top: 5px;
            text-align: left;
        }
    }
}
/*Articles*/
#ourmembers {
    padding: 4rem 0;
    color: #0a1931;
    .announcement {
        margin: 20rem 0;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0.03em;
    }
    .ourmembers-article {
        margin-bottom: 66px;
        margin-top: 67px;
    }
    .ourmembers-title {
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0.03em;
        text-align: left;
    }
    .ourmembers-desc {
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-align: justify;
        margin-top: 5px;
        margin-right: 10px;
    }
    .ourmembers-date {
        margin-top: 25px;
        font-family: Montserrat;
        font-size: 16px;
        letter-spacing: 0.03em;
    }
    .ourmembers-read-more {
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.03em;
        text-align: center;
        margin-top: 30px;
        background: #ffffff;
        border: 1px solid #111840;
        box-sizing: border-box;
        width: 173px;
        margin-right: 10px;
        &:hover {
            background-color: #111840;
            color: white;
            text-decoration-color: none;
        }
    }
}

@media (max-width: 768px) {
    #members-team {
        .container {
            border-radius: 3em;
            .favorite-team {
                h1 {
                    font-size: 3em;
                }
            }
            .gl-team {
                h1 {
                    font-size: 2.5em;
                }
            }
        }
    }
    #members-leaderboard{
        .container{
            height: 35px;
            position: relative;
            background: #0a1931;
            border-radius: 0px 0px 0px 32.5px;
            top:20px;
                .teks{
                    color: white;
                    font-family: Lato;
                    font-style: bold;
                    font-weight: bold;
                    text-align: right;
                    top: 10px;
                    font-size: 17px;
                    margin-bottom: 50px;
                }
                .gambar{
                    position: absolute;
                    display: none;
                    width: 200px;
                    margin-right: 200px;
                }
                .leaderboard{
                    width: 27px;
                    height: 27px;
                }
                .leaderboard1{
                    width: 27px;
                    height: 27px;
                }
                .leaderboard2{
                    width: 27px;
                    height: 27px;
                }
                .leaderboard3{
                    width: 27px;
                    height: 27px;
                }
                .name{
                    width: 300px;
                    height: 30px;
                    h3{
                        font-size: 1.2em;
                        font-family: Lato;
                        font-style: bold;

                    }
                }
                .point{
                    text-align: center;
                    h3{
                        font-size: 1.2em;
                        font-family: Lato;
                        font-style: bold;
                    }
                }
               
            }
        }
    }
@media (max-width: 576px) {
    #members-team {
        .container {
            border-radius: 1.5em;
            .favorite-team {
                h1 {
                    font-size: 2em;
                }
                h2 {
                    font-size: 2em;
                }
                p {
                    font-size: 1.5em;
                }
            }
            .gl-team {
                h1 {
                    font-size: 2em;
                }
                h2 {
                    font-size: 1.5em;
                }
            }
        }
    }
}
