/*Section Member Team*/
#members-team {
    overflow: hidden;
    .container {
        margin-top: 66px;
        padding-bottom: 93px;
        background-color: rgba(10, 25, 49, 1);
        border-radius: 40px;
        .favorite-team {
            h1 {
                color: white;
                font-family: Lato;
                font-style: italic;
                font-weight: 800;
                font-size: 48px;
                line-height: 58px;
                padding-top: 75px;
            }
            img {
                max-width: 100%;
                height: auto;
                margin-top: 49px;
                text-align: center;
            }
            h2 {
                margin-top: 10px;
                font-family: Lato;
                font-weight: 800;
                font-size: 36px;
                line-height: 43px;
                color: #ffffff;
            }
            p {
                font-family: Lato;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                color: #ffffff;
            }
        }
        .gl-team {
            text-align: center;
            h1 {
                color: white;
                font-family: Lato;
                font-style: italic;
                font-weight: 800;
                font-size: 48px;
                line-height: 58px;
                padding-top: 75px;
            }
            h2 {
                margin-top: 10px;
                font-family: Lato;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #ffffff;
            }
        }
    }
}

/*Section Members Leaderboard*/
#members-leaderboard {
    .container {
        height: 45px;
        position: relative;
        background: #0a1931;
        border-radius: 0px 0px 0px 32.5px;
        top: 20px;
        .teks {
            color: white;
            font-family: Lato;
            font-style: bold;
            font-weight: bold;
            text-align: right;
            top: 10px;
            font-size: 25px;
            margin-bottom: 50px;
            padding-right: 12px;
        }
        .gambar {
            position: absolute;
            top: 0;
            z-index: -1;
            right: 0px;
        }
        .leaderboard {
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 7px 7px 7px 7px;
            border: solid;
            color: #ffffff;
            background: #0a1931;
            margin-left: auto;
        }
        .leaderboard1 {
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 7px 7px 7px 7px;
            border: solid;
            color: #ffffff;
            background: #ffc947;
            margin-left: auto;
        }
        .leaderboard2 {
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 7px 7px 7px 7px;
            border: solid;
            color: #ffffff;
            background: #d3d5d6;
            margin-left: auto;
        }
        .leaderboard3 {
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 7px 7px 7px 7px;
            border: solid;
            color: #ffffff;
            background: #f48b29;
            margin-left: auto;
        }
        .name {
            font-family: Lato;
            font-style: bold;
            border-style: solid;
            width: 750px;
            height: 40px;
            border-color: #0a1931;
            border-radius: 7px 7px 7px 7px;
            padding-left: 10px;
            padding-top: 2px;
        }
        .point {
            font-family: Lato;
            font-style: bold;
            padding-top: 5px;
            text-align: left;
        }
    }
}

/*Articles*/
#members-article {
    padding-top: 60rem;
    .nav {
        margin-top: 30px;
        .nav-item {
            padding: 2px;
            font-size: 18px;
            .nav-link {
                color: black;
                font-family: $font-lato;
                font-size: 18px;
                font-weight: 800;
                padding: 2px;
                margin-right: 50px;
                &:hover {
                    border-color: transparent;
                    font-weight: bold;
                    padding: 2px;
                    border-bottom: 2px solid;
                }
                &.active {
                    background-color: #111840;
                    border-color: transparent transparent #111840 transparent;
                    text-align: center;
                    color: white;
                    font-weight: bold;
                    height: 35px;
                    width: 213px;
                    border-radius: 0px;
                }
            }
        }
    }
    .container {
        height: 45px;
        position: relative;
        background: #0a1931;
        border-radius: 0px 0px 0px 32.5px;
        top: 20px;
        transform: scaleX(-1);
        .teks {
            color: white;
            font-family: Lato;
            font-style: bold;
            font-weight: bold;
            text-align: right;
            top: 10px;
            font-size: 25px;
            margin-bottom: 30px;
            padding-right: 12px;
            transform: scaleX(-1);
        }
    }
    .announcement {
        margin: 20rem 0;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0.03em;
    }
    .articles {
        margin-bottom: 66px;
        margin-top: 67px;
    }
    .membarticle-title {
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0.03em;
        text-align: left;
        margin-left: 8rem;
    }
    .membarticle-desc {
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-align: justify;
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 8rem;
    }
    .membarticle-date {
        margin-top: 25px;
        font-family: Montserrat;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: justify;
        margin-left: 8rem;
    }
    .membarticle-read-more {
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.03em;
        text-align: center;
        margin-top: 30px;
        background: #ffffff;
        border: 1px solid #111840;
        box-sizing: border-box;
        width: 173px;
        margin-right: 10px;
        &:hover {
            background-color: #111840;
            color: white;
            text-decoration-color: none;
        }
    }
    .article-logo {
        max-width: 25%;
        display: grid;
    }
    .image {
        max-width: 20rem;
        height: auto;
        margin-top: 25px;
    }
    .content {
        margin-top: 20px;
    }
    nav {
        padding-top: 45px;
    }
    nav ul {
        color: #000000;
        list-style: none;
    }
    nav ul li a {
        width: 146px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
    }
}
// Responsive
// Members Leaderboad Ukuran 1024px
@media (max-width : 1024px){
    #members-leaderboard{
        .container{
            .gambar{
                width: 200px;
            }
            .name{
                 width: 550px;
                 height: 50px;
                 h3{
                     font-size: 2em;
                     font-family: Lato;
                     font-style: bold;
 
                 }
             }
             .point{
                 h3{
                     font-size: 2em;
                     font-family: Lato;
                     font-style: bold;
                 }
             }
         }
    }
}
// Members Leaderboad Ukuran 780px
@media (max-width: 780px) {
    #members-leaderboard{
        .container{
            .gambar{
                width: 200px;
            }
             .name{
                 width: 420px;
                 height: 30px;
                 h3{
                     font-size: 1.2em;
                     font-family: Lato;
                     font-style: bold;
 
                 }
             }
             .point{
                 h3{
                     font-size: 1.2em;
                     font-family: Lato;
                     font-style: bold;
                 }
             }
         }
    }
 }
@media (max-width: 768px) {
    #members-team {
        .container {
            border-radius: 3em;
            .favorite-team {
                h1 {
                    font-size: 3em;
                }
            }
            .gl-team {
                h1 {
                    font-size: 2.5em;
                }
            }
        }
        #members-article {
            .container {
                .announcement {
                    margin: 10rem 0;
                    font-size: 20px;
                }
                .membarticle-read-more {
                    margin-top: 10px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
// Members Leaderboad Ukuran 768px
@media (max-width: 768px){
    #members-leaderboard {
        .container {
            height: 35px;
            position: relative;
            background: #0a1931;
            border-radius: 0px 0px 0px 32.5px;
            top: 20px;
            .teks {
                color: white;
                font-family: Lato;
                font-style: bold;
                font-weight: bold;
                text-align: right;
                top: 10px;
                font-size: 20px;
                margin-bottom: 50px;
            }
            .gambar {
                position: absolute;
                display: none;
                width: 200px;
                margin-right: 200px;
            }
            .leaderboard {
                width: 27px;
                height: 27px;
            }
            .leaderboard1 {
                width: 27px;
                height: 27px;
            }
            .leaderboard2 {
                width: 27px;
                height: 27px;
            }
            .leaderboard3 {
                width: 27px;
                height: 27px;
            }
            .name {
                width: 500px;
                height: 35px;
                h3 {
                    font-size: 1.5em;
                    font-family: Lato;
                    font-style: bold;
                }
            }
            .point {
                text-align: center;
                h3 {
                    font-size: 1.5em;
                    font-family: Lato;
                    font-style: bold;
                }
        }
    }
}
}
@media (max-width: 576px) {
    #members-team {
        .container {
            border-radius: 1.5em;
            .favorite-team {
                h1 {
                    font-size: 2em;
                }
                h2 {
                    font-size: 2em;
                }
                p {
                    font-size: 1.5em;
                }
            }
            .gl-team {
                h1 {
                    font-size: 2em;
                }
                h2 {
                    font-size: 1.5em;
                }
            }
        }
    }
}
// Ukuran 411px
@media (max-width: 415px) {
    #members-leaderboard{
        .container{
             .name{
                 width: 350px;
                 height: 30px;
                 h3{
                     font-size: 1.2em;
                     font-family: Lato;
                     font-style: bold;
 
                 }
             }
             .point{
                 text-align: right;
                 h3{
                     font-size: 1.2em;
                     font-family: Lato;
                     font-style: bold;
                 }
             }
         }
    }
 }
 // Ukuran 375px
@media (max-width: 376px) {
    #members-leaderboard{
        .container{
             .name{
                 width: 300px;
                 height: 30px;
                 h3{
                     font-size: 1.2em;
                     font-family: Lato;
                     font-style: bold;
 
                 }
             }
             .point{
                 text-align: right;
                 h3{
                     font-size: 1.2em;
                     font-family: Lato;
                     font-style: bold;
                 }
             }
         }
    }
 }
// Ukuran 360px
@media (max-width: 360px) {
   #members-leaderboard{
       .container{
            .name{
                width: 300px;
                height: 30px;
                h3{
                    font-size: 1.2em;
                    font-family: Lato;
                    font-style: bold;

                }
            }
            .point{
                text-align: right;
                h3{
                    font-size: 1.2em;
                    font-family: Lato;
                    font-style: bold;
                }
            }
        }
   }
}
// Ukuran 320px
@media (max-width: 320px) {
   #members-leaderboard{
       .container{
            .name{
                width: 285px;
                height: 30px;
                h3{
                    font-size: 1.2em;
                    font-family: Lato;
                    font-style: bold;

                }
            }
            .point{
                text-align: right;
                h3{
                    font-size: 1.2em;
                    font-family: Lato;
                    font-style: bold;
                }
            }
        }
   }
}

