@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

*:focus {
  outline: 0 !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #0a1931;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

strong {
  font-size: inherit;
}

textarea:focus,
input:focus {
  outline: 0 !important;
}

#errors {
  background-color: #0a1931;
  color: #ffffff;
  min-height: 100vh;
}

#errors .text-404 {
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  font-weight: bolder;
}

#errors .text-name {
  font-family: "Lato", sans-serif;
  font-size: 2.75rem;
  font-weight: bold;
}

#errors .text-desc {
  font-family: "Lato", sans-serif;
  font-size: 1.75rem;
  max-width: 600px;
}

@media screen and (max-width: 576px) {
  #errors .text-404 {
    font-size: 5rem;
  }
  #errors .text-name {
    font-size: 1.75rem;
  }
  #errors .text-desc {
    font-size: 1rem;
    max-width: 600px;
    padding: 0 2rem;
  }
}

.navbar .navbar-nav .nav-link {
  margin: auto 1rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: #0a1931;
}

.navbar .navbar-toggler-icon {
  color: #0a1931;
  font-size: 1.5rem;
}

.main-header {
  background-color: #0a1931;
  color: #ffffff;
}

.main-header .row {
  padding: 6rem 0;
}

.main-header .header-logo {
  width: 350px;
  max-width: 100%;
}

.main-header .header-title {
  font-family: "Lato", sans-serif;
  line-height: 2.5rem;
}

.main-header .header-desc {
  font-family: "Montserrat", sans-serif;
}

#upcoming-events {
  padding: 4rem 0;
  color: #0a1931;
}

#upcoming-events .container {
  max-width: 1140px;
}

#upcoming-events .upcoming-events-title {
  font-family: "Lato", sans-serif;
  font-size: 4.5rem;
  width: 350px;
  max-width: 100%;
}

#upcoming-events .upcoming-events-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  width: 350px;
  max-width: 100%;
  text-align: justify;
}

#upcoming-events .events {
  width: 250px;
  max-width: 100%;
  height: 170px;
  border: 1px solid #0a1931;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#upcoming-events .events-img {
  width: 100%;
}

#upcoming-events .events-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-45.35%, rgba(255, 255, 255, 0.37)), to(#ffffff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.37) -45.35%, #ffffff 100%);
}

#upcoming-events .events-content .events-date {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
}

#upcoming-events .events-content .events-name {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.6rem;
}

#upcoming-events .events:hover .events-content {
  background: #0a1931;
}

#upcoming-events .events:hover .events-content .events-date {
  color: #ffffff;
}

#upcoming-events .events:hover .events-content .events-name {
  color: #ffffff;
}

#upcoming-events .upcoming-events-button {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 3rem;
  text-transform: uppercase;
  padding: 0.8rem 1.75rem;
  font-size: 1.25rem;
}

#main-blogs .container {
  max-width: 1140px;
}

#main-blogs .blogs-header {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  color: #0a1931;
}

#main-blogs .blogs-summary {
  width: 250px;
  max-width: 100%;
  height: 150px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#main-blogs .blogs-summary .blogs-pict {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

#main-members {
  background: url(../img/bg-member.jpg);
  background-size: cover;
  background-position: center;
  color: #262626;
  padding: 6rem 0;
}

#main-members .members-title {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

#main-members .members-desc {
  font-weight: 600;
}

#main-members .members-register {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 3rem;
  text-transform: uppercase;
  padding: 0.8rem 1.75rem;
  font-size: 1.25rem;
}

#our-members {
  background: url(../img/member-photos.jpg);
  background-size: cover;
  background-position: center;
}

#our-members .container {
  min-height: 525px;
}

#our-members .our-members-title {
  font-family: "Lato", sans-serif;
  font-size: 5.25rem;
  font-weight: 700;
  color: #ffffff;
}

#our-members .our-members-logo {
  position: absolute;
  top: 36px;
  right: 0;
  width: 90px;
}

#testimonials {
  color: #0a1931;
  position: relative;
  z-index: 3;
}

#testimonials .testimonials-title {
  padding: 4.25rem 0 0;
  font-family: "Lato", sans-serif;
  font-size: 4.25rem;
  font-weight: bold;
}

#testimonials .member-section {
  padding: 3rem 0;
}

#testimonials .member-section .testimonials-section {
  margin: 2rem 0.75rem;
  padding: 0.75rem 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Lato", sans-serif;
  background: #f2e7dc;
  font-weight: bold;
  font-size: 2rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
}

#testimonials .member-section .testimonials-content {
  padding: 4rem 2.5rem;
  background: #f2e7dc;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  min-height: 450px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #testimonials .member-section .testimonials-content {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #testimonials .member-section .testimonials-content {
    min-height: 620px;
  }
}

@media screen and (max-width: 1400px) {
  #testimonials .member-section .testimonials-content {
    min-height: 520px;
  }
}

#testimonials .boc-section {
  background-color: #dcdcdc;
  padding: 2rem 0;
}

#testimonials .boc-section .testimonials-section {
  margin: 2rem 0.75rem;
  padding: 0.75rem 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Lato", sans-serif;
  background: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
}

#testimonials .boc-section .testimonials-content {
  padding: 4rem 2.5rem;
  background: #ffffff;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  min-height: 450px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #testimonials .boc-section .testimonials-content {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #testimonials .boc-section .testimonials-content {
    min-height: 620px;
  }
}

@media screen and (max-width: 1400px) {
  #testimonials .boc-section .testimonials-content {
    min-height: 520px;
  }
}

#testimonials .testimonials-said {
  text-align: justify;
  font-style: italic;
}

#testimonials .testimonials-quotes {
  position: absolute;
}

#testimonials .testimonials-quotes:nth-of-type(1) {
  top: 17px;
  left: 17px;
}

#testimonials .testimonials-quotes:nth-of-type(2) {
  bottom: 17px;
  right: 17px;
}

#testimonials .testimonials-hashtag {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

#main-competitions {
  padding: 4rem 0;
  background-color: #f2e7dc;
  color: #0a1931;
  position: relative;
  z-index: 2;
}

#main-competitions .competitions-title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 4.25rem;
  line-height: 5rem;
  margin-bottom: 2.5rem;
}

#main-competitions .competitions-button {
  padding: 1rem 3rem;
  background: #ffffff;
  -webkit-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #0a1931;
  text-transform: uppercase;
}

#main-competitions .competitions-pict {
  width: 350px;
  max-width: 100%;
  border-radius: 1.5rem;
  -webkit-box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
}

#main-competitions .competitions-icon {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 325px;
  max-width: 100%;
}

#main-leaderboard {
  background-color: #f2e7dc;
  padding: 0 0 2.25rem;
  min-height: 100vh;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

#main-leaderboard .leaderboard-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 700px;
  max-width: 100%;
}

#main-leaderboard .leaderboard {
  position: relative;
  z-index: 1;
}

#main-leaderboard .leaderboard-title {
  padding: 2.5rem 3.5rem;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 3.25rem;
  text-transform: uppercase;
  background-color: #0a1931;
  border-radius: 5rem 0 0 5rem;
}

#main-leaderboard .leaderboard-content {
  list-style: none;
}

#main-leaderboard .leaderboard-list {
  margin: 1.25rem;
  padding: 1rem 3.25rem;
  background-color: #0a1931;
  border-radius: 3rem;
  -webkit-box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.4);
  max-width: 800px;
}

#main-leaderboard .leaderboard-list span,
#main-leaderboard .leaderboard-list p {
  font-size: 1.5rem;
}

#main-leaderboard .leaderboard-list:first-of-type span,
#main-leaderboard .leaderboard-list:first-of-type p {
  font-size: 2rem;
}

#scroll-to-top {
  position: fixed;
  z-index: 2;
  opacity: 0;
  bottom: 20px;
  right: 30px;
  -webkit-animation-name: scrollToTop;
          animation-name: scrollToTop;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#scroll-to-top .scroll-button {
  background-size: 300% 100%;
  background-color: #0a1931;
  padding: 10px 13px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.25);
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#scroll-to-top .scroll-button:hover {
  -webkit-box-shadow: 0 0px 15px #0101013f;
          box-shadow: 0 0px 15px #0101013f;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-position: 100% 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

@-webkit-keyframes scrollToTop {
  0% {
    bottom: -20px;
    opacity: 0;
  }
  50% {
    bottom: 40px;
  }
  100% {
    opacity: 1;
    bottom: 20px;
  }
}

@keyframes scrollToTop {
  0% {
    bottom: -20px;
    opacity: 0;
  }
  50% {
    bottom: 40px;
  }
  100% {
    opacity: 1;
    bottom: 20px;
  }
}

footer .row {
  padding: 6rem 0;
}

footer .footer-logo {
  width: 350px;
  max-width: 100%;
}

footer .footer-title {
  font-family: "Lato", sans-serif;
}

footer .footer-desc {
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  #main-members .members-title {
    font-size: 2rem;
  }
  #our-members .our-members-title {
    font-size: 3rem;
  }
  #testimonials .testimonials-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .main-header .row {
    padding: 2rem 0;
  }
  .main-header .header-logo {
    width: 80%;
  }
  #upcoming-events {
    padding: 2.5rem 0;
  }
  #upcoming-events .upcoming-events-title {
    font-family: "Lato", sans-serif;
    font-size: 3.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
  }
  #main-blogs .blogs-header {
    font-size: 2.5rem;
    width: 350px;
    max-width: 100%;
  }
  #main-competitions .competitions-title {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  #main-leaderboard .leaderboard-title {
    padding: 1.5rem 0 1.5rem 2.25rem;
    font-size: 2rem;
  }
  #main-leaderboard .leaderboard-list {
    margin: 0.5rem;
    padding: 1rem 1.75rem;
  }
  #main-leaderboard .leaderboard-list span,
  #main-leaderboard .leaderboard-list p {
    font-size: 1rem;
  }
  #main-leaderboard .leaderboard-list:first-of-type span,
  #main-leaderboard .leaderboard-list:first-of-type p {
    font-size: 1.5rem;
  }
  footer .footer-logo {
    width: 80%;
  }
}

.button-back {
  color: #ffffff;
  position: fixed;
  top: 2rem;
  left: 2.5rem;
  cursor: pointer;
}

#authContent {
  background-color: #0a1931;
  min-height: 100vh;
  position: relative;
}

#authContent .auth-content {
  background-color: #ffffff;
  color: #0a1931;
  width: 375px;
  max-width: 100%;
  font-family: "Lato", sans-serif;
  border-radius: 1rem;
  padding: 2.5rem;
  margin: 0 1rem 2.5rem;
}

#authContent .auth-content .input-group-text {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  background-color: #ffffff;
}

#authContent .auth-content .input-group .form-control {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

#authContent .auth-content .login-submit {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 0.75rem;
  text-transform: uppercase;
  padding: 0.8rem 1.75rem;
}

#authContent .auth-content .divider {
  display: block;
  position: relative;
  background-color: #ffffff;
}

#authContent .auth-content .divider::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: #0a1931;
}

#authContent .auth-content .divider::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 40%;
  height: 2px;
  background-color: #0a1931;
}

#authContent .auth-content .login-register {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 0.75rem;
  text-transform: uppercase;
  padding: 0.8rem 1.75rem;
}

#authContent .register-content {
  margin: 2rem;
  background-color: #ffffff;
  color: #0a1931;
  width: 875px;
  max-width: 100%;
  font-family: "Lato", sans-serif;
  border-radius: 1rem;
  padding: 2.5rem 4rem;
  margin: 0 1rem 2.5rem;
}

#authContent .register-content p.register-notes {
  padding-left: 1.5rem;
  position: relative;
  font-size: 1rem;
}

#authContent .register-content p.register-notes::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #0a1931;
}

#authContent .register-content label.register-notes {
  font-size: 0.9rem;
}

#authContent .register-content label.register-notes a {
  font-size: inherit;
}

#authContent .register-content .register-button {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 0.75rem;
  text-transform: uppercase;
  padding: 0.8rem 1.75rem;
}

#memberInfo {
  background-color: #0a1931;
  min-height: 100vh;
  position: relative;
}

#memberInfo .instruction {
  margin: 2rem;
  padding: 2.25rem 3.5rem;
  width: 875px;
  max-width: 100%;
  border-radius: 1.5rem;
  background-color: #f2e7dc;
  color: #0a1931;
}

#memberInfo .instruction-title {
  font-family: "Lato", sans-serif;
  font-size: 1.75rem;
}

#memberInfo .instruction .close-title {
  font-size: 3.5rem;
  padding: 1rem 0;
  margin-top: 3rem;
}

#memberInfo .instruction .close-text {
  font-size: 4.5rem;
  font-weight: bolder;
  background-color: #0a1931;
  color: #f2e7dc;
  text-transform: uppercase;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

#memberInfo .instruction a {
  text-decoration: underline;
}

#memberInfo .instruction ol {
  margin-top: 0;
  padding-left: 1rem;
}

#memberInfo .instruction ul {
  list-style: none;
  padding-left: 0;
}

#memberInfo .instruction ul li::before {
  content: "-";
  padding-right: 0.5rem;
}

#editProfile .profile-img {
  width: 150px;
}

#editProfile .print-button {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 3rem;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}

#editProfile .update-button {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 3rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (max-width: 992px) {
  .button-back {
    top: 1rem;
    left: 2rem;
  }
  .button-back .fa-3x {
    font-size: 2.5rem;
  }
  #authContent .register-content {
    margin: 5rem 0.75rem 2rem;
    padding: 2.5rem 2rem;
  }
  #memberInfo .instruction {
    margin: 5rem 0.75rem 2rem;
    padding: 2.5rem 2rem;
  }
  #editProfile .profile-img {
    width: 75px;
  }
  #editProfile .profile-name {
    font-size: 1.5rem;
  }
  #editProfile .profile-desc {
    font-size: 1.15rem;
  }
  #editProfile .profile-info {
    font-size: 1.25rem;
  }
  #editProfile .form-label {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 576px) {
  #memberInfo .instruction .close-title {
    font-size: 2rem;
    padding: 1rem 0;
    margin-top: 0;
  }
  #memberInfo .instruction .close-text {
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: #0a1931;
    color: #f2e7dc;
    text-transform: uppercase;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
}

#registerInfo {
  color: #0a1931;
  background-color: #0a1931;
}

#registerInfo .info {
  min-height: calc(100vh - 82.22px);
}

#registerInfo .info-mockup-img {
  width: 360px;
}

#registerInfo .info-content {
  background-color: #ffffff;
  padding: 2rem 4.25rem;
}

#registerInfo .info-content .info-title {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}

#registerInfo .info-content .info-title small {
  font-size: 2.75rem;
  font-weight: normal;
}

#registerInfo .info-benefit ul {
  list-style: none;
}

#registerInfo .info-benefit ul li {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1.25rem;
  padding-left: 2rem;
  text-align: justify;
}

#registerInfo .info-benefit ul .fas {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -2rem;
}

#registerInfo .info-register {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 3rem;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 1.25rem 2.75rem;
}

#registerInfo .info-renew {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  #registerInfo .info-content {
    padding: 2rem;
  }
  #registerInfo .info-content .info-title {
    font-size: 2.25rem;
  }
  #registerInfo .info-content .info-title small {
    font-size: 1.75rem;
  }
  #registerInfo .info-benefit ul li {
    padding-left: 1rem;
  }
}

/*css blog */
/*Header*/
.blog-header {
  background: url(../img/header_blog.png);
  background-size: cover;
  background-position: center;
  color: #262626;
  padding: 15rem 0;
}

.blog-header .blog {
  background-color: #f2e7dc;
  background-position: center;
  height: 114px;
  width: 375px;
  border-radius: 0px;
}

.blog-header .blog .blog-title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
}

/*Section List*/
.nav {
  margin-top: 30px;
}

.nav .nav-item {
  padding: 2px;
  font-size: 18px;
}

.nav .nav-item .nav-link {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 800;
  padding: 2px;
  margin-right: 50px;
}

.nav .nav-item .nav-link:hover {
  border-color: transparent;
  font-weight: bold;
  padding: 2px;
  border-bottom: 2px solid;
}

.nav .nav-item .nav-link.active {
  background-color: #111840;
  border-color: transparent transparent #111840 transparent;
  text-align: center;
  color: white;
  font-weight: bold;
  height: 35px;
  width: 213px;
  border-radius: 0px;
}

/*Section Petroknowledge*/
#petroknowledge {
  padding: 4rem 0;
  color: #0a1931;
}

#petroknowledge .announcement {
  margin: 20rem 0;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.03em;
}

#petroknowledge .petroknowledge-title {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
}

#petroknowledge .petroknowledge-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: justify;
  margin-top: 5px;
  margin-right: 10px;
}

#petroknowledge .petroknowledge-date {
  margin-top: 25px;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 0.03em;
}

#petroknowledge .petroknowledge-read-more {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #111840;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 173px;
  margin-right: 10px;
}

#petroknowledge .petroknowledge-read-more:hover {
  background-color: #111840;
  color: white;
  -webkit-text-decoration-color: none;
          text-decoration-color: none;
}

#petroknowledge .article-logo {
  max-width: 25%;
  display: -ms-grid;
  display: grid;
}

#petroknowledge .image {
  max-width: 20rem;
  height: auto;
}

#petroknowledge nav {
  padding-top: 45px;
}

#petroknowledge nav ul {
  color: #000000;
  list-style: none;
}

#petroknowledge nav ul li a {
  width: 146px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  .blog-header .blog {
    width: 300px;
  }
  #petroknowledge .announcement {
    margin: 10rem 0;
    font-size: 20px;
  }
  .petroknowledge-read-more {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .blog-header .blog {
    width: 250px;
  }
}

#competitions-header {
  min-height: calc(100vh - 82.22px);
  position: relative;
  color: #0a1931;
}

#competitions-header .background-header {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
}

#competitions-header .header {
  min-height: inherit;
  position: relative;
}

#competitions-header .header-content {
  padding: 0 5rem;
}

#competitions-header .header-title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 2.75rem;
  line-height: 3.25rem;
}

#competitions-header .header-desc {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

#competitions-header .header .fas:nth-of-type(1) {
  position: absolute;
  left: 0;
}

#competitions-header .header .fas:nth-of-type(2) {
  position: absolute;
  right: 0;
}

#competitions-menu {
  position: relative;
  z-index: 2;
  color: #0a1931;
}

#competitions-menu ul.competitions-list {
  margin-top: -3rem;
  list-style: none;
}

#competitions-menu ul.competitions-list li {
  font-size: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.15rem;
  line-height: 3rem;
}

#competitions-menu ul.competitions-list li.active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70%, #ffffff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
}

#competitions-menu .menu-dropdown {
  margin-top: -4rem;
}

#competitions-menu .menu-dropdown .btn {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

#competitions-menu .menu-dropdown .dropdown-menu {
  background: white;
  width: 170px;
}

#competitions-menu .menu-dropdown .dropdown-menu .dropdown-item {
  font-family: "Lato", sans-serif;
}

#competitions-content {
  padding: 2.75rem 0;
  color: #0a1931;
}

#competitions-content p.content-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
}

#competitions-content p.content-desc {
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: justified;
}

#competitions-content ol.content-list li {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: justified;
}

#competitions-gallery {
  padding: 2.75rem 0;
  color: #0a1931;
}

#competitions-gallery .gallery-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}

#competitions-gallery .gallery-pict {
  border-radius: 2.25rem;
  -webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
  width: 275px;
  max-width: 100%;
}

@media screen and (max-width: 576px) {
  #competitions-header .header-content {
    padding: 0 2.5rem;
  }
  #competitions-header .header-title {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  #competitions-header .header-desc {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  #competitions-header .header .fas:nth-of-type(1) {
    font-size: 2rem;
    position: absolute;
    left: 0.5rem;
  }
  #competitions-header .header .fas:nth-of-type(2) {
    font-size: 2rem;
    position: absolute;
    right: 0.5rem;
  }
  #competitions-menu .menu-dropdown .btn {
    font-size: 1rem;
  }
  #competitions-content {
    padding: 3.25rem 1rem;
  }
  #competitions-content p.content-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: unset;
  }
  #competitions-content p.content-desc {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: unset;
  }
  #competitions-content ol.content-list li {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: unset;
  }
}

.about-header {
  background-color: #ffffff;
  color: #0a1931;
}

.about-header .row {
  padding: 6rem 0;
}

.about-header .header-logo {
  position: relative;
  width: 350px;
  max-width: 100%;
  bottom: 30px;
}

.about-header .header-title {
  font-family: "Lato", sans-serif;
  line-height: 2.5rem;
}

.about-header .header-desc {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
}

.about-header .one-piece {
  bottom: 30px;
  position: relative;
}

.about-header .signature {
  position: relative;
  width: 150px;
  height: 62px;
}

#top-wrappers {
  background: url(../img/imagestaffs.png);
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

#top-wrappers .container {
  padding: 200px 0px 100px 0;
}

#top-wrappers .top-wrapper-title {
  display: flexbox;
  font-family: "Lato", sans-serif;
  font-size: 5.25rem;
  font-weight: 700;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#tagline {
  background: url(../img/bg-member.jpg);
  background-size: cover;
  background-position: center;
  color: #262626;
  padding: 6rem 0;
}

#tagline .tagline-title {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

#visi-misi {
  background-color: #0a1931;
}

#visi-misi .row-visi {
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#visi-misi .title-visi-misi {
  color: white;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0em;
}

#visi-misi .underline {
  width: 695px;
  max-width: 100%;
  height: 3px;
  background-color: #ffffff;
}

#visi-misi .desc-visi-misi {
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justify;
}

/*#team-wrap {
    background: $text-primary;
    
    .top-wrapper-title {
        font-family: $font-lato;
        font-size: 48px;
        font-weight: 700;
        color: $text-white;
        left: 191px;
    }
    .header-desc {
        color: $text-white;
        position: relative;
        top: 0px;
        color: white;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
    }
    .row {
        display: flex;
        justify-content: center;
    }
    .tw-line {
        width: 695px;
        max-width: 100%;
        height: 3px;
        background-color: $text-white;
    }
}*/
#organigram {
  background: #0a1931;
  margin-top: -1px;
}

#organigram .timorg {
  /*display: flexbox;
        font-family: $font-lato;
        font-size: 48px;
        font-weight: 700;
        color: $text-white;
        padding-bottom: 30px;*/
  font-family: Lato;
  color: white;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

#organigram .org-img {
  overflow-x: auto;
  text-align: center;
}

#achievements {
  background-color: #0a1931;
  margin-top: -1px;
}

#achievements .header {
  background: linear-gradient(271.42deg, #0a1931 0%, rgba(255, 255, 255, 0.5) 96.95%);
  min-height: 114px;
  min-width: 600px;
  max-width: 48vw;
  padding-right: 3.5rem;
}

#achievements .header-title-achievement {
  color: white;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
}

#achievements .row-achievement {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#achievements .box {
  background-color: #1f285a;
  min-height: 263px;
  max-width: 535px;
  left: 90px;
  top: 4307px;
  border-radius: 20px;
  margin: 25px 1rem;
  -webkit-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#achievements .box-inform {
  background-color: #0a1931;
  height: 263px;
  width: 535px;
  left: 90px;
  top: 4307px;
  border-radius: 20px;
  margin-top: 25px;
}

#achievements .title {
  color: white;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px;
}

#achievements .desc {
  color: white;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: justify;
  padding: 0px 20px;
}

.information {
  color: white;
  margin: 10rem 0;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.information a {
  color: white;
  margin: 10rem 0;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

footer .row {
  padding: 6rem 0;
}

footer .footer-logo {
  width: 350px;
  max-width: 100%;
}

footer .footer-title {
  font-family: "Lato", sans-serif;
}

footer .footer-desc {
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  #tagline .tagline-title {
    font-size: 2rem;
  }
  #top-wrappers .top-wrapper-title {
    font-size: 3rem;
    line-height: 36px;
  }
  #visi-misi .title-visi-misi {
    font-size: 2em;
  }
  #visi-misi .desc-visi-misi {
    font-size: 1em;
  }
  #team-wrap .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 50%;
    /* IMPORTANT */
    left: 20%;
    /* IMPORTANT */
    display: block;
    position: relative;
  }
  #team-wrap .header-desc {
    line-height: 36px;
    font-size: 100%;
    width: 50%;
  }
  #team-wrap .tw-line {
    width: auto;
    max-width: 60%;
    display: block;
  }
  #organigram .timorg {
    display: block;
    font-size: 2em;
  }
  #achievements .header {
    min-width: 100%;
  }
  #achievements .header-title-achievement {
    font-size: 36px;
  }
}

@media screen and (max-width: 576px) {
  .about-header .row {
    padding: 2rem 0;
  }
  .about-header .header-logo {
    width: 60%;
    margin: 20px;
  }
  .about-header .one-piece {
    margin-top: 20px;
    position: center;
    margin-bottom: -20px;
  }
  #achievements .header {
    min-width: 100%;
    min-height: 60px;
  }
  #achievements .header-title-achievement {
    font-size: 30px;
  }
  footer .footer-logo {
    width: 80%;
  }
}

/*css petronews */
/*Header*/
.blog-header {
  background: url(../img/header_blog.png);
  background-size: cover;
  background-position: center;
  color: #262626;
  padding: 15rem 0;
}

.blog-header .blog {
  background-color: #f2e7dc;
  background-position: center;
  height: 114px;
  width: 375px;
  border-radius: 0px;
}

.blog-header .blog .blog-title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
}

/*Section List*/
.nav {
  margin-top: 30px;
}

.nav .nav-item {
  padding: 2px;
  font-size: 18px;
}

.nav .nav-item .nav-link {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 800;
  padding: 2px;
  margin-right: 50px;
}

.nav .nav-item .nav-link:hover {
  border-color: transparent;
  font-weight: bold;
  padding: 2px;
  border-bottom: 2px solid;
}

.nav .nav-item .nav-link.active {
  background-color: #111840;
  border-color: transparent transparent #111840 transparent;
  text-align: center;
  color: white;
  font-weight: bold;
  height: 35px;
  width: 213px;
  border-radius: 0px;
}

/*Petrnonews*/
#petronews {
  padding: 4rem 0;
  color: #0a1931;
}

#petronews .announcement {
  margin: 20rem 0;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.03em;
}

#petronews .petronews-title {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
}

#petronews .petronews-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: justify;
  margin-top: 5px;
  margin-right: 10px;
}

#petronews .petronews-date {
  margin-top: 25px;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 0.03em;
}

#petronews .petronews-read-more {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
  background: #ffffff;
  border: 1px solid #111840;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  width: 173px;
  margin-right: 10px;
}

#petronews .petronews-read-more:hover {
  background-color: #111840;
  color: white;
  -webkit-text-decoration-color: none;
          text-decoration-color: none;
}

#petronews .article-logo {
  max-width: 25%;
  display: -ms-grid;
  display: grid;
}

#petronews .image {
  max-width: 20rem;
  height: auto;
}

#petronews nav {
  padding-top: 45px;
}

#petronews nav ul {
  color: #000000;
  list-style: none;
}

#petronews nav ul li a {
  width: 146px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  .blog-header .blog {
    width: 300px;
  }
  #petroknowledge .announcement {
    margin: 10rem 0;
    font-size: 20px;
  }
  .petronews-read-more {
    margin-top: 400px;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .blog-header .blog {
    width: 250px;
  }
}

/*css petroknowledge */
.petroknowledge .title {
  margin-top: 86px;
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: #000000;
}

.petroknowledge .title .body {
  text-align: justify;
}

@media (max-width: 768px) {
  .image {
    max-width: 100%;
    height: auto;
  }
  .petroknowledge .title {
    font-size: 2em;
  }
  .blog-header .blog {
    width: 300px;
  }
  #petroknowledge .announcement {
    margin: 10rem 0;
    font-size: 20px;
  }
  .read-more-border {
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .blog-header .blog {
    width: 250px;
  }
}
/*# sourceMappingURL=style.css.map */