@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

*:focus {
  outline: 0 !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #0a1931;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

strong {
  font-size: inherit;
}

textarea:focus,
input:focus {
  outline: 0 !important;
}

#errors {
  background-color: #0a1931;
  color: #ffffff;
  min-height: 100vh;
}

#errors .text-404 {
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  font-weight: bolder;
}

#errors .text-name {
  font-family: "Lato", sans-serif;
  font-size: 2.75rem;
  font-weight: bold;
}

#errors .text-desc {
  font-family: "Lato", sans-serif;
  font-size: 1.75rem;
  max-width: 600px;
}

@media screen and (max-width: 576px) {
  #errors .text-404 {
    font-size: 5rem;
  }
  #errors .text-name {
    font-size: 1.75rem;
  }
  #errors .text-desc {
    font-size: 1rem;
    max-width: 600px;
    padding: 0 2rem;
  }
}

.navbar .navbar-nav .nav-link {
  margin: auto 1rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: #0a1931;
}

.navbar .navbar-toggler-icon {
  color: #0a1931;
  font-size: 1.5rem;
}

.main-header {
  background-color: #0a1931;
  color: #ffffff;
}

.main-header .row {
  padding: 6rem 0;
}

.main-header .header-logo {
  width: 350px;
  max-width: 100%;
}

.main-header .header-title {
  font-family: "Lato", sans-serif;
  line-height: 2.5rem;
}

.main-header .header-desc {
  font-family: "Montserrat", sans-serif;
}

#upcoming-events {
  padding: 4rem 0;
  color: #0a1931;
}

#upcoming-events .container {
  max-width: 1140px;
}

#upcoming-events .upcoming-events-title {
  font-family: "Lato", sans-serif;
  font-size: 4.5rem;
  width: 350px;
  max-width: 100%;
}

#upcoming-events .upcoming-events-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  width: 350px;
  max-width: 100%;
  text-align: justify;
}

#upcoming-events .events {
  width: 250px;
  max-width: 100%;
  height: 170px;
  border: 1px solid #0a1931;
  border-radius: 1.5rem;
}

#upcoming-events .upcoming-events-button {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 3rem;
  text-transform: uppercase;
  padding: 0.8rem 1.75rem;
  font-size: 1.25rem;
}

#main-blogs .container {
  max-width: 1140px;
}

#main-blogs .blogs-header {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  color: #0a1931;
}

#main-blogs .blogs-summary {
  width: 250px;
  max-width: 100%;
  height: 150px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#main-blogs .blogs-summary .blogs-pict {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

#main-members {
  background: url(../img/bg-member.jpg);
  background-size: cover;
  background-position: center;
  color: #262626;
  padding: 6rem 0;
}

#main-members .members-title {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

#main-members .members-desc {
  font-weight: 600;
}

#main-members .members-register {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 3rem;
  text-transform: uppercase;
  padding: 0.8rem 1.75rem;
  font-size: 1.25rem;
}

#our-members {
  background: url(../img/member-photos.jpg);
  background-size: cover;
  background-position: center;
}

#our-members .container {
  min-height: 525px;
}

#our-members .our-members-title {
  font-family: "Lato", sans-serif;
  font-size: 5.25rem;
  font-weight: 700;
  color: #ffffff;
}

#our-members .our-members-logo {
  position: absolute;
  top: 36px;
  right: 0;
  width: 90px;
}

#testimonials {
  color: #0a1931;
}

#testimonials .testimonials-title {
  padding: 4.25rem 0 0;
  font-family: "Lato", sans-serif;
  font-size: 4.25rem;
  font-weight: bold;
}

#testimonials .member-section {
  padding: 3rem 0;
}

#testimonials .member-section .testimonials-section {
  margin: 2rem 0.75rem;
  padding: 0.75rem 2.25rem;
  width: fit-content;
  font-family: "Lato", sans-serif;
  background: #f2e7dc;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
}

#testimonials .member-section .testimonials-content {
  padding: 4rem 2.5rem;
  background: #f2e7dc;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  min-height: 450px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #testimonials .member-section .testimonials-content {
    min-height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #testimonials .member-section .testimonials-content {
    min-height: 620px;
  }
}

@media screen and (max-width: 1400px) {
  #testimonials .member-section .testimonials-content {
    min-height: 520px;
  }
}

#testimonials .boc-section {
  background-color: #dcdcdc;
  padding: 2rem 0;
}

#testimonials .boc-section .testimonials-section {
  margin: 2rem 0.75rem;
  padding: 0.75rem 2.25rem;
  width: fit-content;
  font-family: "Lato", sans-serif;
  background: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
}

#testimonials .boc-section .testimonials-content {
  padding: 4rem 2.5rem;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  min-height: 450px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #testimonials .boc-section .testimonials-content {
    min-height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #testimonials .boc-section .testimonials-content {
    min-height: 620px;
  }
}

@media screen and (max-width: 1400px) {
  #testimonials .boc-section .testimonials-content {
    min-height: 520px;
  }
}

#testimonials .testimonials-said {
  text-align: justify;
  font-style: italic;
}

#testimonials .testimonials-quotes {
  position: absolute;
}

#testimonials .testimonials-quotes:nth-of-type(1) {
  top: 17px;
  left: 17px;
}

#testimonials .testimonials-quotes:nth-of-type(2) {
  bottom: 17px;
  right: 17px;
}

#testimonials .testimonials-hashtag {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

#main-competitions {
  padding: 4rem 0;
  background-color: #0a1931;
  color: #ffffff;
}

#main-competitions .competitions-title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 4.25rem;
  line-height: 5rem;
  margin-bottom: 2.5rem;
}

#main-competitions .competitions-button {
  padding: 1rem 3rem;
  background: #ffffff;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #0a1931;
  text-transform: uppercase;
}

#main-leaderboard {
  background-color: #f2e7dc;
  padding: 2.25rem 0;
  min-height: 100vh;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

#main-leaderboard .leaderboard-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 700px;
  max-width: 100%;
}

#main-leaderboard .leaderboard {
  position: relative;
  z-index: 1;
}

#main-leaderboard .leaderboard-title {
  padding: 2.5rem 3.5rem;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 3.25rem;
  text-transform: uppercase;
  background-color: #0a1931;
  border-radius: 5rem 0 0 5rem;
}

#main-leaderboard .leaderboard-content {
  list-style: none;
}

#main-leaderboard .leaderboard-list {
  margin: 1.25rem;
  padding: 1rem 3.25rem;
  background-color: #0a1931;
  border-radius: 3rem;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.4);
  max-width: 800px;
}

#main-leaderboard .leaderboard-list span,
#main-leaderboard .leaderboard-list p {
  font-size: 1.5rem;
}

#main-leaderboard .leaderboard-list:first-of-type span,
#main-leaderboard .leaderboard-list:first-of-type p {
  font-size: 2rem;
}

#scroll-to-top {
  position: fixed;
  z-index: 2;
  opacity: 0;
  bottom: 20px;
  right: 30px;
  animation-name: scrollToTop;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#scroll-to-top .scroll-button {
  background-size: 300% 100%;
  background-color: #0a1931;
  padding: 10px 13px;
  border-radius: 50px;
  box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.25);
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}

#scroll-to-top .scroll-button:hover {
  box-shadow: 0 0px 15px #0101013f;
  transform: translateY(-10px);
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

@keyframes scrollToTop {
  0% {
    bottom: -20px;
    opacity: 0;
  }
  50% {
    bottom: 40px;
  }
  100% {
    opacity: 1;
    bottom: 20px;
  }
}

footer .row {
  padding: 6rem 0;
}

footer .footer-logo {
  width: 350px;
  max-width: 100%;
}

footer .footer-title {
  font-family: "Lato", sans-serif;
}

footer .footer-desc {
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  #main-members .members-title {
    font-size: 2rem;
  }
  #our-members .our-members-title {
    font-size: 3rem;
  }
  #testimonials .testimonials-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .main-header .row {
    padding: 2rem 0;
  }
  .main-header .header-logo {
    width: 80%;
  }
  #upcoming-events {
    padding: 2.5rem 0;
  }
  #upcoming-events .upcoming-events-title {
    font-family: "Lato", sans-serif;
    font-size: 3.5rem;
    width: fit-content;
    max-width: 100%;
  }
  #main-blogs .blogs-header {
    font-size: 2.5rem;
    width: 350px;
    max-width: 100%;
  }
  #main-competitions .competitions-title {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  #main-leaderboard .leaderboard-title {
    padding: 1.5rem 0 1.5rem 2.25rem;
    font-size: 2rem;
  }
  #main-leaderboard .leaderboard-list {
    margin: 0.5rem;
    padding: 1rem 1.75rem;
  }
  #main-leaderboard .leaderboard-list span,
  #main-leaderboard .leaderboard-list p {
    font-size: 1rem;
  }
  #main-leaderboard .leaderboard-list:first-of-type span,
  #main-leaderboard .leaderboard-list:first-of-type p {
    font-size: 1.5rem;
  }
  footer .footer-logo {
    width: 80%;
  }
}

.button-back {
  color: #ffffff;
  position: fixed;
  top: 2rem;
  left: 2.5rem;
  cursor: pointer;
}

#authContent {
  background-color: #0a1931;
  min-height: 100vh;
  position: relative;
}

#authContent .auth-content {
  background-color: #ffffff;
  color: #0a1931;
  width: 375px;
  max-width: 100%;
  font-family: "Lato", sans-serif;
  border-radius: 1rem;
  padding: 2.5rem;
  margin: 0 1rem 2.5rem;
}

#authContent .auth-content .input-group-text {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  background-color: #ffffff;
}

#authContent .auth-content .input-group .form-control {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

#authContent .auth-content .login-submit {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 0.75rem;
  text-transform: uppercase;
  padding: 0.8rem 1.75rem;
}

#authContent .auth-content .divider {
  display: block;
  position: relative;
  background-color: #ffffff;
}

#authContent .auth-content .divider::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: #0a1931;
}

#authContent .auth-content .divider::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 40%;
  height: 2px;
  background-color: #0a1931;
}

#authContent .auth-content .login-register {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 0.75rem;
  text-transform: uppercase;
  padding: 0.8rem 1.75rem;
}

#authContent .register-content {
  margin: 2rem;
  background-color: #ffffff;
  color: #0a1931;
  width: 875px;
  max-width: 100%;
  font-family: "Lato", sans-serif;
  border-radius: 1rem;
  padding: 2.5rem 4rem;
  margin: 0 1rem 2.5rem;
}

#authContent .register-content p.register-notes {
  padding-left: 1.5rem;
  position: relative;
  font-size: 1rem;
}

#authContent .register-content p.register-notes::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #0a1931;
}

#authContent .register-content label.register-notes {
  font-size: 0.9rem;
}

#authContent .register-content label.register-notes a {
  font-size: inherit;
}

#authContent .register-content .register-button {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 0.75rem;
  text-transform: uppercase;
  padding: 0.8rem 1.75rem;
}

#memberInfo {
  background-color: #0a1931;
  min-height: 100vh;
  position: relative;
}

#memberInfo .instruction {
  margin: 2rem;
  padding: 2.25rem 3.5rem;
  width: 875px;
  max-width: 100%;
  border-radius: 1.5rem;
  background-color: #f2e7dc;
  color: #0a1931;
}

#memberInfo .instruction-title {
  font-family: "Lato", sans-serif;
  font-size: 1.75rem;
}

#memberInfo .instruction a {
  text-decoration: underline;
}

#memberInfo .instruction ol {
  margin-top: 0;
  padding-left: 1rem;
}

#memberInfo .instruction ul {
  list-style: none;
  padding-left: 0;
}

#memberInfo .instruction ul li::before {
  content: "-";
  padding-right: 0.5rem;
}

#editProfile .profile-img {
  width: 150px;
}

#editProfile .update-button {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 3rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (max-width: 992px) {
  .button-back {
    top: 1rem;
    left: 2rem;
  }
  .button-back .fa-3x {
    font-size: 2.5rem;
  }
  #authContent .register-content {
    margin: 5rem 0.75rem 2rem;
    padding: 2.5rem 2rem;
  }
  #memberInfo .instruction {
    margin: 5rem 0.75rem 2rem;
    padding: 2.5rem 2rem;
  }
  #editProfile .profile-img {
    width: 75px;
  }
  #editProfile .profile-name {
    font-size: 1.5rem;
  }
  #editProfile .profile-desc {
    font-size: 1.15rem;
  }
  #editProfile .profile-info {
    font-size: 1.25rem;
  }
  #editProfile .form-label {
    font-size: 1.15rem;
  }
}

#registerInfo {
  color: #0a1931;
}

#registerInfo .container-fluid {
  background-color: #0a1931;
}

#registerInfo .row {
  padding: 0;
  min-height: calc(100vh - 82.22px);
}

#registerInfo .info-mockup .info-mockup-img {
  width: 360px;
}

#registerInfo .info-content {
  background-color: #ffffff;
  padding: 2rem 4.25rem;
}

#registerInfo .info-content .info-title {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}

#registerInfo .info-content .info-title small {
  font-size: 2.75rem;
  font-weight: normal;
}

#registerInfo .info-benefit ul {
  list-style: none;
}

#registerInfo .info-benefit ul li {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1.25rem;
  padding-left: 2rem;
  text-align: justify;
}

#registerInfo .info-benefit ul .fas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2rem;
}

#registerInfo .info-register {
  font-family: "Lato", sans-serif;
  background-color: #0a1931;
  color: #ffffff;
  border-radius: 3rem;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 1.25rem 2.75rem;
}

#registerInfo .info-renew {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  #registerInfo .info-content {
    padding: 2rem;
  }
  #registerInfo .info-content .info-title {
    font-size: 2.25rem;
  }
  #registerInfo .info-content .info-title small {
    font-size: 1.75rem;
  }
  #registerInfo .info-benefit ul li {
    padding-left: 1rem;
  }
}

/*css blog */
/*Header*/
.blog-header {
  background: url(../img/header_blog.png);
  background-size: cover;
  background-position: center;
  color: #262626;
  padding: 15rem 0;
}

.blog-header .blog {
  background-color: #f2e7dc;
  background-position: center;
  height: 114px;
  width: 375px;
  border-radius: 0px;
}

.blog-header .blog .blog-title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
}

/*Section List*/
.nav {
  margin-top: 30px;
}

.nav .nav-item {
  padding: 2px;
  font-size: 18px;
}

.nav .nav-item .nav-link {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 800;
  padding: 2px;
  margin-right: 50px;
}

.nav .nav-item .nav-link:hover {
  border-color: transparent;
  font-weight: bold;
  padding: 2px;
  border-bottom: 2px solid;
}

.nav .nav-item .nav-link.active {
  background-color: #111840;
  border-color: transparent transparent #111840 transparent;
  text-align: center;
  color: white;
  font-weight: bold;
  height: 35px;
  width: 213px;
  border-radius: 0px;
}

/*Section Petroknowledge*/
#petroknowledge {
  padding: 4rem 0;
  color: #0a1931;
}

#petroknowledge .announcement {
  margin: 20rem 0;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.03em;
}

#petroknowledge .petroknowledge-title {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
}

#petroknowledge .petroknowledge-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: justified;
  margin-top: 5px;
}

#petroknowledge .petroknowledge-date {
  margin-top: 55px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  text-align: justify;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  .blog-header .blog {
    width: 300px;
  }
  #petroknowledge .announcement {
    margin: 10rem 0;
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .blog-header .blog {
    width: 250px;
  }
}
/*# sourceMappingURL=style.css.map */